

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');


*{
	box-sizing: border-box;
	font-family:  'Poppins', sans-serif;
	color: #333;
}

html{
    /* me permite deslizar cuando hago clics en los links del menu */
    scroll-behavior: smooth;
}

body{
	min-width: 100%;
	margin: 0;
	min-height: 100%;
	background-color: #fff;
	color: #333;
	font-size: 14px;
	line-height: 20px;
	font-weight: 200;
	display: block;
}
.bw_lineas_container {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	display: flex;
	height: 100%;
	margin-right:108px;
	margin-left: 108px;
	justify-content: space-between;
}
.bw_linea {
	width: 1px;
	height: 100%;
	margin-right: 1px;
	background-color: rgba(0, 0, 0, .1);
}

.header_container{
    display: flex;
	width: 100%;
	height: auto;
	padding: 0 108px 0 108px;
	flex-wrap: wrap;
	align-content: flex-start;
	text-align: justify;
}


.header_seccion {
	width: 50%;
	padding-right: 0;
	display: flex;
	flex-wrap: wrap;
}


.menu_box {
	display: flex;
	width: 100%;
}


ul.menu_container {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	padding: 0;
}


.menu_container li {
	list-style: none;
	display: inline-block;
	margin: 3.8vw 20px 0 20px;
	
}

.menu_container li a {
	text-decoration: none;
	color: #333;
}
.menu_container li a:hover {
	cursor: pointer;
}

.menu_container li:last-of-type {
	margin-right: 0;
}

.header {
	position: absolute;
	display: flex;
	width: 100vw;
	height: 108px;
	margin-top: 0;
	padding-left: 108px;
	justify-content: space-between;
	align-items: flex-start;
}

.nav_logo {
	position: relative;
	left: 3px;
	display: block;
	margin-top: 3.8vw;
}


.w_inline-block {
	max-width: 100%;
	display: inline-block;
}

a{
	color: inherit;
	background-color: transparent;
}

.logo {
	height: 30px;
	position: relative;
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
}


.pag_container {
	position: relative;
	z-index: 3;
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	align-content: flex-start;
}

.about_hero_seccion {
	position: relative;
	z-index: 3;
	display: flex;
	width: 100%;
	padding-right: 108px;
	flex-direction: column;
	align-items: flex-start;
}

.hero_container {
	display: flex;
	width: 100%;
	height: 120vh;
	flex-direction: column;
	align-items: flex-start;
	flex: 0 0 auto;
}

.container_img-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.image_carrusel {
	position: absolute;
	left: 0;
	top:0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
img {
	border: 0;
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}

div{
	display: block;
}

.black_box_container {
	display: block;
	width: 100%;
	padding-top: 10vh;
	padding-bottom: 10vh;
	padding-left: 108px;
}

.black_box_intro {
	display: flex;
	width: 50%;
	padding-right: 40px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
} 

.name_projet {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 35px;
	flex: 0 auto;
	font-family:  'Poppins', sans-serif;
	font-weight: 400;
	font-size: 2rem;
	color: #222;
	letter-spacing: 0.8rem;
}
.slogan {
	margin-top: 0;
	margin-bottom: 0;
	flex: 0 auto;
	font-family:  'Poppins', sans-serif;
	font-weight: 300;
}

.proyecto_info_container {
	display: flex;
	width: 100%;
	height: auto;
	padding: 0 108px 10vh 108px;
	flex-wrap: wrap;
	align-content: flex-start;
	text-align: justify;
}

.proyecto_info_columna {
	width: 50%;
	padding-right: 10px;
}

.info_parrafo h6 {
	margin-top: 0;
	margin-bottom: 0;
	color: #333;
	font-size: 20px;
	line-height: 25px;
	font-weight: 400;
	letter-spacing: 0.8rem;
}

.info_parrafo p {
	margin-bottom: 15PX;
	padding-left: 0;
	font-weight: 200;
	line-height: 25px;
}

p.caba {
	font-weight: bold;
}

.bw_proyecto_galeria_container{
	display: flex;
	width: 100%;
	padding-right: 0;
	padding-left: 108px;
	padding-bottom: 108px;
}

.heading {
    width: 100%;
	height: auto;
	padding: 0 108px 10vh 108px;
}

.container_heading{
	display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-end;
}

h2, h3{
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.38rem;
}
.plantas_container {
	display: flex;
	width: 100%;
	height: auto;
	padding: 0 108px 10vh 108px;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-end;
}
.plantas_cen {
	display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-end;
}

.planta_container_columna{
	position: relative;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.imagen_container {
	position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
	justify-content: center;
}


.img_ps{
	width: 95%;
}

img {
	border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}

p.img_epigrafe {
	position: absolute;
    left: auto;
    top: 100%;
    right: 0;
    bottom: auto;
    margin-top: 12px;
    margin-bottom: 0;
    text-align: right;
    font-size: 1rem;
}

.vistas_container {
	display: flex;
	width: 100%;
	height: auto;
	padding: 10vh 108px;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-end;
}

.vista_cen {
	display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-end;
}

.heading_amenities {
    width: 100%;
	height: auto;
	padding: 10vh 108px;	
}

.container_heading_amenities {
	display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-end;
}

.amenities_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10vh 108px;
}

.amenitie_container i{
	font-size: 4rem;
}
figcaption {
	font-size: 1rem;
}


.amenitie_container {
	display: flex;
	flex-direction: column;
    text-align: center;
}

.heading_ubicacion {
	width: 100%;
	height: auto;
	padding: 10vh 108px;	
}

.container_heading_ubicacion{
	display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-end;
    padding-bottom: 2rem;
} 

 iframe {
 	width: 100%;
}

footer {
	display: flex;
	width: 100%;
	height: 134px;
	background-color: rgba(0, 0, 0, .1);
	align-items: center;
}

.yo {
	text-align: left;
	align-items: center;
	width: 50%;
	padding-left: 108px;
	padding-top: 10vh;
}
 	
.redes {
	text-align: left;
	align-items: center;
	width: 50%;
	padding-left: 108px;
	padding-top: 10vh;
}
.redes a i {
  font-size: 2rem;
  padding-top: 0.5rem;
  cursor: pointer;
}

.redes a{
	color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 42px;
    margin: 40px 25px;
    font-size: 1.5rem;
    transition: .3s;
}

.contacto {
    background-color:#fff;
    color: #fff;
    padding: 50px 0;
    display: flex;

}
.contenido-seccion{
    margin: auto;
    width: 100%;
	height: auto;
	padding: 10vh 108px;
}
.container_masproyectos {
  position:relative;
  text-transform: uppercase;
  font-size:21px;
  padding-top: 300px;
  justify-content: flex-end;

}


h4 {
	 writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.contacto h2{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.38rem;
    text-align: left;
   margin-left: 0;
   padding-bottom: 1.5rem;
 }

.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    position: relative;
}


.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color:#252a2b;
    color: #fff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;

}
.contacto button{
    cursor: pointer;
    background-color:#fff;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #333;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}

.container_cel {
	display: flex;
	justify-content: flex-end;
	padding-top: 500px;
	
}
.container_cel i {
	font-size: 4rem;

}


/*SECCION R E S P O N S I V E*/


@media (min-width:1001px) {
	

}

@media (min-width:577px) and (max-width:1000px) {
	.logo {
		height: 30px;

	}
    ul.menu_container {
 	flex-direction: column;
    }
    


    .name_projet {
    	font-size: 1rem;
    }
	
	.menu_container li {
        margin: 1.9vw 20px 0 20px;
    }
    .slogan {
	font-weight: 300;
	font-size: 1rem;
    }

    .info_parrafo h6 {
	font-size: 15px;
	line-height: 17px;
	letter-spacing: 0.4rem;
	font-weight: bold;
	}

	h2, h3 {
		letter-spacing: 0.1rem;
    }
    
    .amenitie_container {
    	padding-left: 2px;
    	padding-right: 2px;
    }

    .amenitie_container i{
	font-size: 1.5rem;
    }

    figcaption {
	font-size: 0.5rem;
    }
    .amenities_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0;
    }

    .container_heading_amenities {
    	padding-bottom: 1rem;
    }
    
    .yo{
    	font-size: 0.7rem;
    }

    .redes {
    	display: flex;
    	padding: 0;
    }


    .redes a i {
    font-size: 1rem;
    padding-top: 0.5rem;
    cursor: pointer;
    }

    .redes a{
	color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    line-height: 42px;
    margin: 40px 25px;
    font-size: 1.5rem;
    transition: .3s;
}


		
}


@media (max-width: 576px) {
	.logo {
		height: 20px;

	}
    ul.menu_container {
 	flex-direction: column;
    }
    .name_projet {
    	font-size: 1rem;
    }
	
	.menu_container li {
        margin: 1.9vw 20px 0 20px;
    }
    .slogan {
	font-weight: 300;
	font-size: 1rem;
    }

    .info_parrafo h6 {
	font-size: 15px;
	line-height: 17px;
	letter-spacing: 0.4rem;
	font-weight: bold;
	}

	h2, h3 {
		letter-spacing: 0.1rem;
    }
    
    .amenitie_container {
    	padding-left: 2px;
    	padding-right: 2px;
    }

    .amenitie_container i{
	font-size: 1.5rem;
    }

    figcaption {
	font-size: 0.5rem;
    }
    .amenities_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0;
    }

    .container_heading_amenities {
    	padding-bottom: 1rem;
    }
    
    .yo{
    	font-size: 0.7rem;
    }

    .redes {
    	display: flex;
    	padding: 0;
    }


    .redes a i {
    font-size: 1rem;
    padding-top: 0.5rem;
    cursor: pointer;
    }

    .redes a{
	color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    line-height: 42px;
    margin: 40px 25px;
    font-size: 1.5rem;
    transition: .3s;
}



}




/* SECCION INICIO 

.banner{
	width: 100%;
	height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)),url(Images/Image21.png);
    background-size: cover;
    background-position: center;
}
.navbar{
	width: 85%;
	margin: auto;
	padding: 2rem 0;
	justify-content: flex-end;
	align-items: center;
	display: flex;
}
.logo{
	width:120px;
	cursor: pointer;

}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
.navbar ul li a{
	text-decoration: none;
	color:#fff;
    font-family: 'Righteous', sans-serif;
    text-transform: uppercase;
}
a:hover{
    font-size: 2rem;
}

.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0%;
	background: #fff;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.7s;

}
.navbar ul li:hover::after{
	width: 100%;
}
.content{
	width: 70%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: left;
	color: #fff;
}
.content h1{
	font-size: 3.5rem;
    font-family: 'Righteous';
	margin-top: 80px;
	padding-left: 20px;
	text-align: left;
}
.content p{
	margin: 0 auto;
	font-weight: 100;
	line-height: 25px;
	padding-left: 26px;
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1.5rem;
}
div .button{
	padding-left: 12px;
}
button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	font-size: 20px;
	border: 2px solid #fff;
	background: transparent;
	color: #fff;
	cursor: pointer;
}

.redes{
	margin-top: 100px;
	margin-left: 5px;
	display:flex;
	height: 100vh;
	width: 34%;
	justify-content: center;
	align-items: center;
}
.banner .redes a{
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 25px;
    font-size: 1.5rem;
    transition: .3s;
}
.banner .redes a:hover{
	color: #adaaaa;
}
.banner .redes a:active{
	color: #adaaaa;
} */

#inicio .contenedorcita{
	padding: 184px 60px;	
}
#inicio .contenedorcita p{
	text-align: justify;
	padding-bottom: 80px;
	font-weight: 400;
	margin-bottom: 36px;
	font-size: 2rem;
	line-height: 3rem;
	font-family: 'Roboto', sans-serif;
	color:#63311b;
}

/* SECCION PROYECTO */
#proyecto{
    color: white;
    padding: 10px 20px;
    background-color: hsla(38.182, 7%, 31%, 1);
}
.proyecto .contenido-seccion{
 
}
.implantacion{
	margin: 2em auto;
	width: 100%;
	height: 100vh;
    background-image: url("Images/implant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenido-text{
	padding: 100px 60px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.contenido-text h2{
	padding-bottom: 80px;
	font-weight: bold;
	margin-bottom: 36px;
	font-size: 2rem;
	line-height: 32px;
	font-family: 'Roboto', sans-serif;
	writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    letter-spacing: 0.5rem;
}
.contenido-text p{
	font-weight: 400;
	margin-bottom: 61px;
	padding-left: 100px;
	padding-top: 100px;
	font-size: 17px;
	line-height: 22px;
	letter-spacing: 0.5rem;
	word-spacing: 1rem;
	font-family: 'Roboto', sans-serif;
	text-indent: 0;
	text-align: justify;
}
.programa{
	margin: 2em auto;
	width: 100%;
	height: 100vh;
    background-image: url("implant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.plantas{
	margin: 2em auto;
	width: 100%;
	height: 100vh;
    background-image: url("implant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.vistas-corte{
	margin: 2em auto;
	width: 100%;
	height: 100vh;
    background-image: url("implant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
